.App {
  text-align: center;
}

.user-name {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: orangered;
}

.user-first-name {
  font-weight: bold;
  font-style: italic;
  color: orange;

}

.user-profile-pic {
  height: 250px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  object-fit: cover;

}